/* Filter groups */
#filter {
    /*z-index: 500;*/
    background-color:  #F3F3F3;
    width: 40%;
    padding: 0;
    cursor: default;
    border: 1px solid #EBEBEB;
}

#filter .float {
    padding: 0 15px 0 15px;
}


#filter-date {
}

.payrange{
    display: inline-block;
    padding: 5px;
    cursor: pointer;
}

.agerange {
    display: block;
    cursor: pointer;
}

#filter-agerange .filter-label{
    display: inline-block;
    width: 60%;
}

#time-selector-any-all-toggle {
    text-align: right;
    display: inline-block;
    margin: 8px 15px;
    float: right;
    cursor: pointer;
}

#go-to-today {
    color: whitesmoke;
    display: inline-block;
    margin: 3px 14px 3px 14px;
    border: 1px solid #A8A8A8;
    border-radius: 0px;
    background: white;
    color : black;
}

#go-to-today:hover {
    background: #1DBAA5;
    color: white;    
    transition: all 0.25s;
}

#agerange-match-exactly-container{
    display: inline-block;
    width: 39%;
    text-align: right;
    cursor: pointer;
}

#filter-agerange-slider-container, #slider-range, #filter-payrange-selected-container, #filter-payrange-selected, #filter-payrange-selected-label{
    display: inline-block;
}
#filter-agerange-slider-container{
    width: 100%;
}
#slider-range{
    width: 80%;
}
#filter-payrange-selected-container{
    width: 70px;
}
#filter-payrange-selected{
    /*width: 100%;*/
    margin: auto;
    text-align: center;
}

.filter-agerange-checkboxes-group {
    vertical-align: top;
}
.filter-agerange-checkboxes {
    display: inline-block;
    width: 60px;
    height: 80px;
    font-size: 11px;
    text-align: center;
    vertical-align: top;
}

.agerange-size{
    font-size: 12px;
    vertical-align: text-bottom;
}

#filter-payrange, #filter-agerange {
    padding: 5px 0px;
}

#filter-payrange .filter-label, #filter-agerange .filter-label {
    text-align: left;
    padding: 5px;
    font-weight: 900;
}

.filter-label-main {
    text-align: center;
    font-size: 16px;
    color: #1DBAA5;
    padding-top: 7px;
    height: 35px;
    background-color: white;
    margin: 0 -15px 0px -15px;
}

#filter-buttons {
    padding: 10px;
    text-align: center;
}

#filter-buttons .btn {
    background-color: #C04544;
    border: 1px solid #B64141;
}
#filter-buttons .btn:hover {
    background-color: #B64141;
    border: 1px solid #963635;
}

/* Profile Containers */
.mini-profile {
	border: 1px solid darkgrey;
    padding: 15px;
    margin: 10px 15px 10px 15px;
    background-color: whitesmoke;
    border-radius: 5px;
	display: block;
}

.profile-picture {
    border:1px solid darkgrey;
    border-radius: 5px;
    background-color: whitesmoke;
    width: 100%;
    cursor: pointer;
}

.babysitter-info{
    padding: 10px 15px;
    /*text-align: center;*/
}

.babysitter-name-picture{
    /*height: 220px;*/
}

.babysitter-name {
    font-weight: bold;
    width: 270px;
	display: inline-block;
}

.babysitter-wage {
	display: inline-block;
    width: 30px;
    margin: 0;
}

.babysitter-rating {
	display: inline-block;
    font-size: 18px;
}

.babysitter-age-range-container{
    display: inline-block;
    width: 100%;
    overflow: auto;
    /*border-radius: 5px;*/
    /*background-color: #759CC0;*/
    padding: 5px;
    margin: 5px -10px 0 -10px;
}
.babysitter-age-range{
    padding: 0 0 0 20px;
}

.babysitter-about-me {
	display: inline-block;
    width: 100%;
    height: 118px;
    overflow: auto;
    border-radius: 5px;
    background-color: #e6e6e6;
    padding: 10px;
    margin: 5px -10px 0 -10px;

}

.babysitter-calendar {
    width: 100%;
    height: 70px;
    border: 1px solid darkgrey;
    border-radius: 5px;
    padding: 5px;
}


#profile-sort-container {
    width: 60%;
    background: white;
}

#sort-dropdown {
    z-index: 100;
	/*text-align: right;*/
    padding: 5px 15px 5px 15px;
    /*background-color: #759CC0;*/
    background-color: white;
    text-align: right;
    height: 35px;
    margin: 0 -15px 0 -15px;
    color: #1DBAA5;
    border: 1px solid #EBEBEB;
}

#sort-dropdown-dummy {
    /*text-align: right;*/
    padding: 5px 15px 5px 15px;
    /*background-color: #759CC0;*/
    background-color: white;
    text-align: right;
    height: 35px;
    margin: 0 -15px 0 -15px;
    color: #1DBAA5;
    border: 1px solid #EBEBEB;
    display: none;
}


#sort-dropdown .form-group {
    display: inline-block;
    width: 210px;
    }
#sort-select{
    padding-top: 0;
    padding-bottom: 0;
    height: 26px;
    font-size: 12px;
}


#sort-label {
    display: inline-block;
    /*color: whitesmoke;*/
}

#profile-container {
    /*width: 650px;*/
    margin: 0 -15px 0 -15px;
    background-color: white;
}

.col {
    margin-left: 10px;
}


/*Background*/

.container {
    width: 1200px;
    /*width: 1000px;*/
    /*background-color: #bdc3c7;*/
    /*background-color: #9BB9D1;*/
    background-color: white;
}

body {
    background-color: whitesmoke;
    font-family: 'Open Sans', serif, sans-serif;
}

.btn {
    /*border-color: #1E88E5;*/
    /*background-color: #1E88E5;*/
    border-radius: 0;

}

.btn:hover {
    /*border-color: #2e6da4;*/
    /*background-color: #1976D2;*/
}

.btn:focus {
    outline: none;
}

/*Calendar*/
.cal_cell {
    border:1px solid #021a40;
    max-width: 100%;
    max-height: 100%;
    font-size: 12px;
    height: 20px;
    padding: 0px;
    text-align: center;
}

.b_available {
    background:palegreen;
}

.b_unavailable {
    background:lightgray;
}

input[type='checkbox'] {
    width:15px;
    height:15px;
    cursor: pointer;
}


.match{
    /*background-color: lawngreen;*/
    background-color: #43B7D3;
    border-radius: 5px;
}

#no-profiles-to-show{
    text-align: center;
    padding: 100px;
    position: fixed;

}