/* http://stackoverflow.com/questions/69430/is-there-a-way-to-make-text-unselectable-on-an-html-page */
.unhighlightable-text {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
   cursor: default;
}

.clickable-text {
    cursor: pointer;
}

#calendar {
    width: 94%;
    margin: 0px auto 10px auto;
}

#week-selector {
    height: 25px;
    /*border: 1px solid black;*/
    border-radius: 5px 5px 0px 0px;
    background-color: whitesmoke;
}

#selected-week-text{
    font-size: 13px;
}

#next-week-btn, #prev-week-btn{
    background-color: #A5A5A5;

}

#next-week-btn{
    border-radius: 0px 5px 0px 0px;
}

#prev-week-btn{
    border-radius: 5px 0px 0px 0px;
}

#next-week-btn:hover, #prev-week-btn:hover{
    background-color: #CCCCCC;
}

#week-selector div {
    height: 100%;
    position: relative;
    display: inline;
}

.center-text {
    margin: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 120%;
}

#time-selector {
    top: 8%;
    height: 92%;

}

#days-of-the-week{
    background-color: whitesmoke;
    border-left: 1px solid grey;
}

.time-selector-header{
    background-color: whitesmoke;
}

/*#time-selector-col-sat{*/
    /*border-radius: 0px 0px 5px 0px;*/
/*}*/

.col-8 {
    width: 12.5%;
    height: 100%;
    display: inline-block;
    border-right: 1px solid grey;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    vertical-align: top;
}

.time-selector-header {
    height: 36px;
    border: none;
	text-align: center;
}

p.time-selector-header-text {
    margin: 0px;
    padding: 2px;
    font-size: 90%;
    height: 18px;
}

.time-selector-cell {
    height: 18px;
    border: none;
    border-top: 1px solid grey;
    text-align: center;
}

.time-selector-left-range, .time-selector-right-range {
    height: 100%;
    display: inline-block;
    background: #e6e6e6;
}

.time-selector-left-range {
    width: 33%;
}
.time-selector-right-range {
    width: 67%;
}

.time-selector-range-desired {
    background: palegreen;
}

.time-selector-range-available {
    background: red;
}
