/* Navigation */

#navigation {
    /*background-color: #2C89C6;*/
    background-color:   #F97E76;
    padding: 5px 0 0 0;
    /*padding: 0.7em 0 1em;*/
    height: 45px;
    border-bottom: 1px solid #ddd;
    font-family: 'Open Sans', sans-serif;
}

.ui-menu-item {
    z-index: 1500;
}

#logo {
    color: whitesmoke;
    text-align: center;
    font-size: 20px;
    /*font-weight: bold;*/
    height: 45px;
    margin: -5px -20px;
}

#logo {
    cursor: pointer;
}

#logo a{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    text-decoration: none;
}

#logo:hover a{
    color: lightgrey;
    transition: all 0.15s;
}

#search {
    height: 0;
}

#search-text {
    border: 1px solid #ddd;
    outline: none;
    width: 290px;
    color:#777;
    font-family: 'Open Sans', sans-serif;
    border-radius: 0px;
}

#search-submit {
    border: 1px solid #A8A8A8;
    border-radius: 0px;
    margin-left: 0px;
    background: white;
    color : black;
}

#search-submit:hover{
    background: #1DBAA5;
    color: white;
    transition: all 0.25s; 
}

#navigation .form-control {
    display: inline-block;
    /*width: 300px;*/
}

#profile-nav {
    text-align: right;
}

#profile-button-link{
    border: 1px solid #A8A8A8;
    border-radius: 0px;
    margin-left: 0px;
    background: white;
    color : black;
}

#profile-button-link:hover{
    background: #1DBAA5;
    color: white;
    transition: all 0.25s; 
}

#messages-button-link{
    border: 1px solid #A8A8A8;
    border-radius: 0px;
    margin-left: 0px;
    background: white;
    color : black;
}

#messages-button-link:hover{
    background: #1DBAA5;
    color: white;   
    transition: all 0.25s; 
}

.nav-dropdown {
    display: inline-block;
}

.dropdown-menu {
    border: 1px solid #A8A8A8;
    border-radius: 0px;
    left: -111px;
}
.dropdown-menu li {
    width: 100%;
}

#navigation-dropdown-button {
    border: 1px solid #A8A8A8;
    border-radius: 0px;
    margin-left: 0px;
    background: white;
    color : black;
}

#navigation-dropdown-button:hover{
    background: #1DBAA5;
    color: white;    
    transition: all 0.25s;
}

#nav_email, #nav_password{
    width: 150px;
    border: 1px solid #ddd;
    outline: none;
    color:#777;
    font-family: 'Open Sans', sans-serif;
    border-radius: 0px;
    margin-right: 2px;
}

#signin-btn, #signup-btn{
    border: 1px solid #A8A8A8;
    border-radius: 0px;
    margin-left: 0px;
    background: white;
    color : black;
    margin-right: 2px;
}

#signin-btn:hover, #signup-btn:hover{
    background: #1DBAA5;
    color: white;
    transition: all 0.25s;
}

#alert{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index:500

}