/* Navigation */

#navigation{
    /*background-color: #2C89C6;*/
    background-color: #1565C0;
    padding: 10px;
    height: 60px;

}

#logo{
    color: whitesmoke;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    height: 60px;
    margin: -10px -25px -10px -25px;
    padding: 15px;

}

#logo:hover{
    background-color: #135DB0;
    cursor: pointer;
}


#navigation .form-control{
    display: inline-block;
    width: 300px;
}

#profile-nav{
    text-align: right;
}



.nav-dropdown{
    display: inline-block;
}

/*Personal info*/

#personal-info {
    margin-top: 10px;
}

#profile-image {
    /*border:1px solid #021a40;*/
    border-radius: 5px;
    float: left;
    max-width: 100%;
    max-height: 100%;
    background-color: whitesmoke;
}

.profile_part_label {
    background-color: #759CC0;
    color: whitesmoke;
    margin: 15px 0 0 0;
    font-size: 1.5em;
    max-width: 100%;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #5B7A96;
}

#babysitter-main-info .babysitter-name {
    font-weight: bold;
    width: 40%;
}

#babysitter-main-info {
    font-size: 1.5em;
    padding: 10px 5px 10px 5px;
}

.babysitter-name {
    display: inline-block;
}

.babysitter-wage {
    display: inline-block;
}

.babysitter-rating {
    display: inline-block;
}

.babysitter-age-range{
    font-size: .75em;
}


#babysitter-about-me, #babysitter-experiences, #babysitter-references{
    border:1px solid darkgrey;
    border-radius: 5px;
    max-height: 200px;
    min-height: 100px;
    overflow: auto;
    padding: 10px;
    background-color: whitesmoke;
}

#experiences-references {
    margin-left: 5px;
}



/*Background*/

.container{
    width: 1200px;
    height: 750px;
    
    /*background-color: #bdc3c7;*/
    background-color: #9BB9D1;
}


body{
    background-color: whitesmoke;
    font-family: 'Open Sans', serif, sans-serif;
}

.btn:hover{
    border-color: #2e6da4;
    background-color: #1976D2;
}

.day {
    border:1px solid #021a40;
    height: 30px;
    vertical-align:middle;
    text-align:center;
    font-weight: bold;
}

.hour {
    border:1px solid #021a40;
    height: 40px;
    vertical-align:middle;
    text-align:center;
    background-color: LightGray;
    font-weight: bold;
}

.availableHour {
    border:1px solid #021a40;
    height: 40px;
    vertical-align:middle;
    text-align:center;
    background-color: PaleGreen;
    font-weight: bold;
}

.reviewer {
    font-weight: bold;
    text-align: center;
}

.reviews {
    text-align: left;
}