/*Personal info*/

#personal-info {
    margin-top: 10px;
}

#profile-image {
    border-radius: 5px;
    border: 1px solid #A8A8A8;
    float: left;
    max-width: 100%;
    max-height: 100%;
    background-color: whitesmoke;
}

.profile_part_label {
    background-color: whitesmoke;
    color: black;
    margin: 15px 0 0 0;
    padding: 5px 15px;
    font-size: 18px;
    max-width: 100%;
    text-align: center;
    /*border-radius: 5px;*/
    border: 1px solid darkgrey;
}

#babysitter-calendar .profile_part_label{
    /*background-color: #F97E76;*/
    /*background-color: #CF6962;*/
    /*color: white;*/
}

#babysitter-main-info .babysitter-name {
    font-weight: bold;
    width: 40%;
}

#babysitter-main-info {
    font-size: 1.5em;
    padding: 10px 5px 10px 5px;
}

.babysitter-name {
    display: inline-block;
}

.babysitter-wage {
    display: inline-block;
}

.babysitter-rating {
    display: inline-block;
}

.babysitter-age-range{
    font-size: .75em;
    padding: 15px 0;
}

.babysitter-age-range-elt{
    padding-left: 15px;
}

#babysitter-about-me, #babysitter-experiences {
    border:1px solid lightgrey;
    /*background-color: whitesmoke;*/
    border-radius: 5px;
    max-height: 200px;
    min-height: 100px;
    overflow: auto;
    padding: 15px;

}

#babysitter-about-me{
    background-color: #e6e6e6;
    border: none;
}

#experiences-references {
    margin-left: 1px;
}

#babysitter-calendar {
    margin-bottom: 5px;

}


/*Background*/

.container{
    width: 1200px;
    background-color: white;
}


body{
    background-color: whitesmoke;
    font-family: 'Open Sans', serif, sans-serif;
}

/*.btn:hover{
    border-color: #2e6da4;
    background-color: #1976D2;
}*/

.day {
    border-left:1px solid grey;
    border-bottom:1px solid grey;
    height: 30px;
    padding-top: 6px;
    vertical-align:middle;
    text-align:center;
    font-weight: bold;
}

.hour {
    border-left:1px solid grey;
    border-bottom:1px solid grey;
    height: 40px;
    padding-top: 10px;
    text-align:center;
    background-color: white;
    font-weight: bold;
}

.availableHour {
    border:1px solid #021a40;
    height: 40px;
    vertical-align:middle;
    text-align:center;
    background-color: PaleGreen;
    font-weight: bold;
}

#big-calendar{
    border-right: 1px solid grey;
}

/*Reviews*/

.reviewer {
    font-weight: bold;
    text-align: center;
}

.reviews {
    text-align: left;
    font-size: .50em;

}

#review-container{
    background-color: whitesmoke;
}

#no-reviews{
    padding: 15px;
}


/*Calendar*/

@media (min-width: 1200px) {
    .seven-cols {
        margin: auto;
    }
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
  }
}

/*Contact*/
.btn-save-draft {
    color: white;
}

.btn-save-draft:hover {
    background-color: DarkGray;
    color: white;
}

.btn{
    border-radius: 0;
}

.btn:focus {
    outline: none;
}