.time-selector-base {
    position: relative;
    display: inline-block;
}

.time-selector-btn {
    margin: 0px auto;
    cursor: pointer;
}

.time-selector {
    display: none;
    position: absolute;
    background-color: #e6e6e6;
    width: 50px;
    left: -16px;
    z-index: 10;
}

.time-selector-range {
	border: 1px solid black;
	margin: -1px 0px;
	cursor: default;
}

.time-selector-range-selected {
    background-color: palegreen;
}

.show {
    display: block;
}
