.box{
    height: 10px;
    width:1px;
    background-color: black;
    padding:0px;
}

.row{
    background-color: aquamarine;
}

.mini-profile {
	border: 1px solid black;
/*	float: left;*/
/*	display: inline-block;*/
}

.babysitter-name {
	display: inline-block;
}

.babysitter-wage {
	display: inline-block;
}

.babysitter-rating {
	display: inline-block;
}

.babysitter-about-me {
	display: inline-block;
}

#sort-dropdown {
	text-align: right;
}

.profile-container {
}