.box{
    height: 10px;
    width:1px;
    background-color: black;
    padding:0px;
}

#logo{
    height: 20px;
    width: 50px;
    background-color: dodgerblue;
}

.row{
    background-color: #bdc3c7;
}

.filter-date-group{
    display: inline-block;
}

.nav-dropdown{
    display: inline-block;
}

.date, .day{
    font-size: .7em;

}

.payrange, .agerange{
    display: inline-block;
}