.box{
    height: 10px;
    width:1px;
    background-color: black;
    padding:0px;
}

#logo{
    height: 20px;
    width: 50px;
    background-color: dodgerblue;
}

.row{
    background-color: #bdc3c7;
}

.filter-date-group{
    display: inline-block;
}

.nav-dropdown{
    display: inline-block;
}

.date, .day{
    font-size: .7em;

}

.payrange, .agerange{
    display: inline-block;
}

.mini-profile {
	border: 1px solid black;
/*	float: left;*/
/*	display: inline-block;*/
}

.babysitter-name {
	display: inline-block;
}

.babysitter-wage {
	display: inline-block;
}

.babysitter-rating {
	display: inline-block;
}

.babysitter-about-me {
	display: inline-block;
}

#sort-dropdown {
	text-align: right;

}

#sort-dropdown select {
    display: inline-block;
}

#sort-label{
    display: inline-block;
}

.profile-container {
}